# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
env/
venv/

# Data (keep out of git)
data/*
!data/README_download.md

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# OS/editor
.DS_Store
Thumbs.db